apiVersion: v1
kind: Service
metadata:
  name: wil-playground
spec:
  selector:
    app: wil-playground
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8888
  
---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: wil-playground
spec:
  selector:
    matchLabels:
      app: wil-playground
  replicas: 1
  template:
    metadata:
      labels:
        app: wil-playground
    spec:
      containers:
      - name: wil-playground
        image: wil42/playground:v2
        ports:
        - containerPort: 8888

